*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    background-image: url(img/aaarr94d.png);
    width: 100px;
    background-color: aqua;
    padding: 100px;
    height: 200px;
}